### EV Charging Infrastructure Analysis

### Project Overview
This project analyzes global EV charging station distribution with focus on CCS (Type 2) charger availability. The analysis identifies infrastructure patterns across countries and operators to support strategic network expansion decisions.

Aim: The aim of this project Analyse the distribution,availability,and growth of EV Charging stations based on different connecter types,with a particular on different connecter types with a particular focus on CSS(Type 2) chargers.The primary goal of clean project seeks to identify patterns across countries,operators and time period to understand how EV infrastructure is developing and to support decisions that can improve charging accessibility and network expansion

# DATA LOADING AND INITIAL OVERVIEW

## Insatall and import pandas library
Before loading the dataset, we need to ensure that the required Python libraries are installed. The main library used for data manipulation and analysis is Pandas.

In [1]:
pip install pandas

Requirement already satisfied: pandas in c:\users\asus\anaconda3\lib\site-packages (2.2.3)
Requirement already satisfied: numpy>=1.26.0 in c:\users\asus\anaconda3\lib\site-packages (from pandas) (2.1.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\asus\anaconda3\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\asus\anaconda3\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\asus\anaconda3\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in c:\users\asus\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Note: you may need to restart the kernel to use updated packages.

In [54]:
import pandas as pd

## Load The Dataset
Reads the csv file into a DataFrame named df

In [55]:
 file_path = r"C:\Users\ASUS\Downloads\ev_stations_2025.csv"
 df = pd.read_csv(file_path)
 print("Dataset Loaded Successfully")

Dataset Loaded Successfully

## Initial Data Overview

In [56]:
 # Number of rows and columns
 print(f"Dataset Shape (Rows, columns):{df.shape}")

Dataset Shape (Rows, columns):(10000, 14)

In [57]:
 # Data types of each columns
 print("\nData Types:")
 print(df.dtypes)

Data Types:
id                   int64
title               object
address             object
town                object
state               object
postcode            object
country             object
lat                float64
lon                float64
operator            object
status              object
num_connectors       int64
connector_types     object
date_added          object
dtype: object

## Basic information about the data set

In [58]:
 print("\nDataset Info")
 df.info()

Dataset Info
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id               10000 non-null  int64
 1   title            10000 non-null  object
 2   address          9999 non-null   object
 3   town             9797 non-null   object
 4   state            7131 non-null   object
 5   postcode         8330 non-null   object
 6   country          10000 non-null  object
 7   lat              10000 non-null  float64
 8   lon              10000 non-null  float64
 9   operator         9402 non-null   object
 10  status           10000 non-null  object
 11  num_connectors   10000 non-null  int64
 12  connector_types  9995 non-null   object
 13  date_added       10000 non-null  object
dtypes: float64(2), int64(2), object(10)
memory usage: 1.1+ MB

In [59]:
 print("\nFirst 5 Rows")
 print(df.head())

First 5 Rows
       id                                              title  \
0  462769                    Electra - Wambrechies - Volfoni
1  462768                       Electra - Tourcoing - Action
2  462767  Electra - Bondues - Sure Hotel by Best Western...
3  462766                 Electra - Bousbecque - Intermarché
4  462765                    Electra - Halluin - Intermarché

                 address         town state postcode country        lat  \
0    81 Av. Clément Ader  Wambrechies   NaN    59118      FR  50.685653
1     185 rue du Touquet    Tourcoing   NaN    59200      FR  50.723171
2  3 Av. Henri Becquerel      Bondues   NaN    59910      FR  50.722535
3              Rue Auger   Bousbecque   NaN    59166      FR  50.770139
4     Boulevard de Roncq      Halluin   NaN    59250      FR  50.769938

        lon operator       status  num_connectors  \
0  3.062410  Electra  Operational               2
1  3.180636  Electra  Operational               3
2  3.129496  Electra  Operational               2
3  3.083454  Electra  Operational               2
4  3.124030  Electra  Operational               2

                             connector_types                 date_added
0          CCS (Type 2)|Type 2 (Socket Only)  2025-11-02 09:58:00+00:00
1  CCS (Type 2)|CHAdeMO|Type 2 (Socket Only)  2025-11-02 09:55:00+00:00
2          CCS (Type 2)|Type 2 (Socket Only)  2025-11-02 09:50:00+00:00
3          CCS (Type 2)|Type 2 (Socket Only)  2025-11-02 09:46:00+00:00
4          CCS (Type 2)|Type 2 (Socket Only)  2025-11-02 09:42:00+00:00

In [60]:
 # Descriptive Statistics
 print("\nDescriptive Statistics")
 print(df.describe(include="all"))

Descriptive Statistics
                   id              title   address      town state postcode  \
count    10000.000000              10000      9999      9797  7131     8330
unique            NaN               9577      9411      3852   403     6015
top               NaN  SWTCH Energy Inc.  Valencia  Montréal    QC    98004
freq              NaN                 52        10       686  2497       44
mean    416572.240600                NaN       NaN       NaN   NaN      NaN
std      40129.224879                NaN       NaN       NaN   NaN      NaN
min     374562.000000                NaN       NaN       NaN   NaN      NaN
25%     378741.750000                NaN       NaN       NaN   NaN      NaN
50%     384381.500000                NaN       NaN       NaN   NaN      NaN
75%     459627.250000                NaN       NaN       NaN   NaN      NaN
max     462769.000000                NaN       NaN       NaN   NaN      NaN

       country           lat           lon            operator       status  \
count    10000  10000.000000  10000.000000                9402        10000
unique      72           NaN           NaN                 263            6
top         CA           NaN           NaN  Circuit Electrique  Operational
freq      4135           NaN           NaN                1979         9301
mean       NaN     42.425898    -52.399215                 NaN          NaN
std        NaN     14.651593     63.942829                 NaN          NaN
min        NaN    -43.904364   -159.356940                 NaN          NaN
25%        NaN     42.017013   -112.697935                 NaN          NaN
50%        NaN     45.778014    -73.441045                 NaN          NaN
75%        NaN     48.673134     -0.361442                 NaN          NaN
max        NaN     68.377358    174.756158                 NaN          NaN

        num_connectors connector_types                 date_added
count     10000.000000            9995                      10000
unique             NaN             197                       2457
top                NaN  Type 1 (J1772)  2025-06-20 10:46:00+00:00
freq               NaN            4418                        595
mean          1.456500             NaN                        NaN
std           0.989851             NaN                        NaN
min           0.000000             NaN                        NaN
25%           1.000000             NaN                        NaN
50%           1.000000             NaN                        NaN
75%           2.000000             NaN                        NaN
max          26.000000             NaN                        NaN

# DATA PRE-PROCESSING

## Handling Missing Values
identify and handling missing or null entries

In [61]:
 print("Missing Values Summary:")
 (df.isnull().sum().sort_values(ascending=False))

Missing Values Summary:

state              2869
postcode           1670
operator            598
town                203
connector_types       5
address               1
id                    0
title                 0
lat                   0
country               0
lon                   0
status                0
num_connectors        0
date_added            0
dtype: int64

Drop null entries address and conncector_types columns

In [62]:
 df.dropna(subset=["address"],inplace=True)
 df.dropna(subset=["connector_types"],inplace=True)

Fill missing categorical values appropriately

In [63]:
 df["operator"].fillna("Unknown Operator",inplace=True)
 df["state"].fillna("Not_Applicable",inplace=True)
 df["postcode"].fillna("Unknown",inplace=True)
 df["town"].fillna("Unknown",inplace=True)

C:\Users\ASUS\AppData\Local\Temp\ipykernel_22380\4159579258.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["operator"].fillna("Unknown Operator",inplace=True)
C:\Users\ASUS\AppData\Local\Temp\ipykernel_22380\4159579258.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["state"].fillna("Not_Applicable",inplace=True)
C:\Users\ASUS\AppData\Local\Temp\ipykernel_22380\4159579258.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["postcode"].fillna("Unknown",inplace=True)
C:\Users\ASUS\AppData\Local\Temp\ipykernel_22380\4159579258.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["town"].fillna("Unknown",inplace=True)

## Check and Remove Duplicates

Each id should have unique.Ensure no duplicates id are present.

In [64]:
 duplicate_count = df.duplicated(subset=["id"]).sum()
 print(f"Number of duplicate:{duplicate_count}")

Number of duplicate:0

There is no duplicates values present in our dataset

## Correcting data types

Verify dates and categorical fields have appropriate formats.

In [65]:
 # Convert date_added columns to datetime
 df["date_added"] = pd.to_datetime(df["date_added"],errors = "coerce")

In [66]:
 # Confirm Changes
 print(df.dtypes)

id                               int64
title                           object
address                         object
town                            object
state                           object
postcode                        object
country                         object
lat                            float64
lon                            float64
operator                        object
status                          object
num_connectors                   int64
connector_types                 object
date_added         datetime64[ns, UTC]
dtype: object

## Create derived columns

Extract componenets from datetime for better analysis

In [67]:
 df["added_month"] = df["date_added"].dt.month_name()
 df["added_day"] = df["date_added"].dt.day
 df["added_hour"] = df["date_added"].dt.hour
 df["added_minute"] = df["date_added"].dt.minute
 df["day_of_week"] = df["date_added"].dt.day_name()

In [68]:
 # Calculate station age(if you have current date)
 current_date = pd.Timestamp.now().tz_localize(None)
 df["date_added"] = pd.to_datetime(df["date_added"]).dt.tz_localize(None)
 df["days_since_added"] = (current_date - df["date_added"]).dt.days

In [69]:
 # Preview new derived columns
 print("\nFirst 5 rows with new derived columns:")
 df[["added_month","added_day","added_hour","added_minute","day_of_week","days_since_added"]].head()

First 5 rows with new derived columns:

,added_month,added_day,added_hour,added_minute,day_of_week,days_since_added
0,November,2,9,58,Sunday,17
1,November,2,9,55,Sunday,17
2,November,2,9,50,Sunday,17
3,November,2,9,46,Sunday,17
4,November,2,9,42,Sunday,17

## Filter and Aggregate

This will help with:

✔ Fast-charging analysis

✔ Market share insights

✔ Find the best EV-supported cities

✔ Identify high-capacity stations

✔ Evaluate countries’ EV readiness

✔ Compare operator infrastructure quality

✔ Support EV policy, planning, and investment decisions

In [70]:
 # Fast chargers
 fast_mask = df["connector_types"].str.contains("CCS|NACS|GB-?T DC|CHAdeMO",case = False,na = False)
 fast_chargers =  df[fast_mask]  

 # Slow/ Ac chargers(Type1,Type2,CEE,Schuko)
 slow_mask = df["connector_types"].str.contains("Type 1|Type 2|CEE|Schuko",case = False,na = False)
 slow_chargers = df[slow_mask]

In [71]:
 # identifying large charging hubs
 large_sites = df[df["num_connectors"] > 2]

In [72]:
 # Stations per Operator
 stations_by_operator = ( df.groupby("operator", as_index=False)["id"].count() .rename(columns={"id": "total_stations"})
                       .sort_values("total_stations", ascending=False))

In [73]:
 # Stations per Country
 stations_by_country = (df.groupby("country", as_index=False)["id"].count().rename(columns={"id": "total_stations"})
                      .sort_values("total_stations", ascending=False))

In [74]:
 # Average Connectors Per Operator
 avg_connectors_by_operator = (df.groupby("operator", as_index=False)["num_connectors"].mean()
                             .rename(columns={"num_connectors": "avg_connectors"}).sort_values("avg_connectors", ascending=False))

## Save Cleaned Dataset
Export cleaned data for Phase 3.

In [75]:
 df.to_csv("cleaned_ev_stations_2025_data.csv",index=False)
 print("Cleaned dataset save as cleaned_ev_stations_2025_data.csv ")

Cleaned dataset save as cleaned_ev_stations_2025_data.csv

In [76]:
 # summaries 
 print("Fast chargers:\n")
 print(fast_chargers.head())

Fast chargers:

       id                                              title  \
0  462769                    Electra - Wambrechies - Volfoni
1  462768                       Electra - Tourcoing - Action
2  462767  Electra - Bondues - Sure Hotel by Best Western...
3  462766                 Electra - Bousbecque - Intermarché
4  462765                    Electra - Halluin - Intermarché

                 address         town           state postcode country  \
0    81 Av. Clément Ader  Wambrechies  Not_Applicable    59118      FR
1     185 rue du Touquet    Tourcoing  Not_Applicable    59200      FR
2  3 Av. Henri Becquerel      Bondues  Not_Applicable    59910      FR
3              Rue Auger   Bousbecque  Not_Applicable    59166      FR
4     Boulevard de Roncq      Halluin  Not_Applicable    59250      FR

         lat       lon operator       status  num_connectors  \
0  50.685653  3.062410  Electra  Operational               2
1  50.723171  3.180636  Electra  Operational               3
2  50.722535  3.129496  Electra  Operational               2
3  50.770139  3.083454  Electra  Operational               2
4  50.769938  3.124030  Electra  Operational               2

                             connector_types          date_added added_month  \
0          CCS (Type 2)|Type 2 (Socket Only) 2025-11-02 09:58:00    November
1  CCS (Type 2)|CHAdeMO|Type 2 (Socket Only) 2025-11-02 09:55:00    November
2          CCS (Type 2)|Type 2 (Socket Only) 2025-11-02 09:50:00    November
3          CCS (Type 2)|Type 2 (Socket Only) 2025-11-02 09:46:00    November
4          CCS (Type 2)|Type 2 (Socket Only) 2025-11-02 09:42:00    November

   added_day  added_hour  added_minute day_of_week  days_since_added
0          2           9            58      Sunday                17
1          2           9            55      Sunday                17
2          2           9            50      Sunday                17
3          2           9            46      Sunday                17
4          2           9            42      Sunday                17

In [77]:
 print("Slow/ Ac chargers:\n")
 print(slow_chargers.head())

Slow/ Ac chargers:

       id                                              title  \
0  462769                    Electra - Wambrechies - Volfoni
1  462768                       Electra - Tourcoing - Action
2  462767  Electra - Bondues - Sure Hotel by Best Western...
3  462766                 Electra - Bousbecque - Intermarché
4  462765                    Electra - Halluin - Intermarché

                 address         town           state postcode country  \
0    81 Av. Clément Ader  Wambrechies  Not_Applicable    59118      FR
1     185 rue du Touquet    Tourcoing  Not_Applicable    59200      FR
2  3 Av. Henri Becquerel      Bondues  Not_Applicable    59910      FR
3              Rue Auger   Bousbecque  Not_Applicable    59166      FR
4     Boulevard de Roncq      Halluin  Not_Applicable    59250      FR

         lat       lon operator       status  num_connectors  \
0  50.685653  3.062410  Electra  Operational               2
1  50.723171  3.180636  Electra  Operational               3
2  50.722535  3.129496  Electra  Operational               2
3  50.770139  3.083454  Electra  Operational               2
4  50.769938  3.124030  Electra  Operational               2

                             connector_types          date_added added_month  \
0          CCS (Type 2)|Type 2 (Socket Only) 2025-11-02 09:58:00    November
1  CCS (Type 2)|CHAdeMO|Type 2 (Socket Only) 2025-11-02 09:55:00    November
2          CCS (Type 2)|Type 2 (Socket Only) 2025-11-02 09:50:00    November
3          CCS (Type 2)|Type 2 (Socket Only) 2025-11-02 09:46:00    November
4          CCS (Type 2)|Type 2 (Socket Only) 2025-11-02 09:42:00    November

   added_day  added_hour  added_minute day_of_week  days_since_added
0          2           9            58      Sunday                17
1          2           9            55      Sunday                17
2          2           9            50      Sunday                17
3          2           9            46      Sunday                17
4          2           9            42      Sunday                17

In [78]:
 print("identifying large charging hubs:\n")
 print(large_sites.head())

identifying large charging hubs:

        id                         title             address       town  \
1   462768  Electra - Tourcoing - Action  185 rue du Touquet  Tourcoing
61  462648                   Lidl Kerava   Santaniitynkatu 7     Kerava
63  462645                 Prisma Kerava       Kauppakaari 2     Kerava
69  462633               S-Market Hyrylä       Hyrylänkatu 6    Tuusula
80  462617      K-Supermarket Kellokoski  Vanha valtatie 189    Tuusula

             state postcode country        lat        lon         operator  \
1   Not_Applicable    59200      FR  50.723171   3.180636          Electra
61         Uusimaa    04250      FI  60.399695  25.111991             Lidl
63         Uusimaa    04200      FI  60.401385  25.102482  ABC Lataus (FI)
69         Uusimaa    04300      FI  60.397189  25.019503  ABC Lataus (FI)
80         Uusimaa    04500      FI  60.530799  25.110221         K Lataus

         status  num_connectors  \
1   Operational               3
61  Operational               3
63  Operational               3
69  Operational               3
80  Operational               3

                                      connector_types          date_added  \
1           CCS (Type 2)|CHAdeMO|Type 2 (Socket Only) 2025-11-02 09:55:00
61  CCS (Type 2)|CHAdeMO|Type 2 (Tethered Connector)  2025-10-31 16:00:00
63          CCS (Type 2)|Type 2 (Socket Only)|CHAdeMO 2025-10-31 15:55:00
69          CHAdeMO|CCS (Type 2)|Type 2 (Socket Only) 2025-10-31 15:39:00
80          CCS (Type 2)|CHAdeMO|Type 2 (Socket Only) 2025-10-31 15:04:00

   added_month  added_day  added_hour  added_minute day_of_week  \
1     November          2           9            55      Sunday
61     October         31          16             0      Friday
63     October         31          15            55      Friday
69     October         31          15            39      Friday
80     October         31          15             4      Friday

    days_since_added
1                 17
61                19
63                19
69                19
80                19

In [79]:
 print("Maket Share by Operator:\n")
 print(stations_by_operator.head())

Maket Share by Operator:

               operator  total_stations
41   Circuit Electrique            1979
33          ChargePoint            1275
258                 flo             724
225    Unknown Operator             598
181             PowerGo             421

In [80]:
 print("Ev charging density by country:\n")
 print(stations_by_country.head())

Ev charging density by country:

   country  total_stations
10      CA            4135
67      US            2266
23      ES             887
60      RU             392
49      MY             377

In [81]:
 print("Analyse which operator builds the biggest stations:\n")
 print(avg_connectors_by_operator.head())

Analyse which operator builds the biggest stations:

                   operator  avg_connectors
148                     MER           6.000
234             WeVolt (AU)           6.000
39              Chargy (LU)           5.000
74   Eldrive Lithuania (LT)           4.375
208        Swisscharge (CH)           4.000

## Display Cleaned Dataset Summary


  Shape of the dataset: Number of rows and columns.

  Column info: Data types and non-null counts using info.

  Missing values check: Ensure no missing values remain.

  Unique values in categorical columns: Confirm encoding and category distribution.

In [82]:
 print("After Cleaned Dataset Details\n")

 print(f"Shape of the dataset:{df.shape}\n")

After Cleaned Dataset Details

Shape of the dataset:(9994, 20)

In [83]:
 print("First 5 rows of the cleaned dataset:")
 print(df.head())

First 5 rows of the cleaned dataset:
       id                                              title  \
0  462769                    Electra - Wambrechies - Volfoni
1  462768                       Electra - Tourcoing - Action
2  462767  Electra - Bondues - Sure Hotel by Best Western...
3  462766                 Electra - Bousbecque - Intermarché
4  462765                    Electra - Halluin - Intermarché

                 address         town           state postcode country  \
0    81 Av. Clément Ader  Wambrechies  Not_Applicable    59118      FR
1     185 rue du Touquet    Tourcoing  Not_Applicable    59200      FR
2  3 Av. Henri Becquerel      Bondues  Not_Applicable    59910      FR
3              Rue Auger   Bousbecque  Not_Applicable    59166      FR
4     Boulevard de Roncq      Halluin  Not_Applicable    59250      FR

         lat       lon operator       status  num_connectors  \
0  50.685653  3.062410  Electra  Operational               2
1  50.723171  3.180636  Electra  Operational               3
2  50.722535  3.129496  Electra  Operational               2
3  50.770139  3.083454  Electra  Operational               2
4  50.769938  3.124030  Electra  Operational               2

                             connector_types          date_added added_month  \
0          CCS (Type 2)|Type 2 (Socket Only) 2025-11-02 09:58:00    November
1  CCS (Type 2)|CHAdeMO|Type 2 (Socket Only) 2025-11-02 09:55:00    November
2          CCS (Type 2)|Type 2 (Socket Only) 2025-11-02 09:50:00    November
3          CCS (Type 2)|Type 2 (Socket Only) 2025-11-02 09:46:00    November
4          CCS (Type 2)|Type 2 (Socket Only) 2025-11-02 09:42:00    November

   added_day  added_hour  added_minute day_of_week  days_since_added
0          2           9            58      Sunday                17
1          2           9            55      Sunday                17
2          2           9            50      Sunday                17
3          2           9            46      Sunday                17
4          2           9            42      Sunday                17

In [84]:
 print("\nDataset Info:")
 df.info()

Dataset Info:
<class 'pandas.core.frame.DataFrame'>
Index: 9994 entries, 0 to 9999
Data columns (total 20 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   id                9994 non-null   int64
 1   title             9994 non-null   object
 2   address           9994 non-null   object
 3   town              9994 non-null   object
 4   state             9994 non-null   object
 5   postcode          9994 non-null   object
 6   country           9994 non-null   object
 7   lat               9994 non-null   float64
 8   lon               9994 non-null   float64
 9   operator          9994 non-null   object
 10  status            9994 non-null   object
 11  num_connectors    9994 non-null   int64
 12  connector_types   9994 non-null   object
 13  date_added        9994 non-null   datetime64[ns]
 14  added_month       9994 non-null   object
 15  added_day         9994 non-null   int32
 16  added_hour        9994 non-null   int32
 17  added_minute      9994 non-null   int32
 18  day_of_week       9994 non-null   object
 19  days_since_added  9994 non-null   int64
dtypes: datetime64[ns](1), float64(2), int32(3), int64(3), object(11)
memory usage: 1.5+ MB